<!-- <ion-card>
  <ion-list>
    <ion-item>
      <ion-label color="warning">Set Light Controls</ion-label>
      <ion-toggle [checked]="setValue" (ionChange)="setCtrl($event)" ></ion-toggle>
    </ion-item>
  </ion-list>
</ion-card> -->

<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card class="switches" color="switch1">

         
          <div  class="ion-text-center">
            <ion-col size="12" class="ion-text-center">
              <ion-icon class="icon" size="large" [color]="setValue?'warning':'dark'" name="bulb-outline"></ion-icon>
            </ion-col>
           

            
          </div>
          <div>
            <ion-toggle [checked]="setValue" (ionChange)="setCtrl($event)" ></ion-toggle>
            {{setValue?'On':'Off'}}
          </div>
     

        <!-- <ion-list color="switch1">                
          <ion-item color="switch1" class="ion-text-center">
            <ion-col size="12" class="ion-text-center">
              <ion-icon class="icon" size="large" [color]="setValue?'warning':'dark'" name="bulb-outline"></ion-icon>
            </ion-col>
           

            
          </ion-item>
          <ion-item lines="none">
            <ion-toggle [checked]="setValue" (ionChange)="setCtrl($event)" ></ion-toggle>
            {{setValue?'On':'Off'}}
          </ion-item>
        </ion-list> -->

      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="switches" color="switch2" >
                     
        <div  class="ion-text-center">
            <ion-col size="12" class="ion-text-center">
              <ion-icon class="icon" size="large" [color]="setValue?'warning':'medium'" name="medical-outline"></ion-icon>
            </ion-col>
            
          </div>
          <div lines="none">
            <ion-toggle disabled [checked]="setValue" (ionChange)="setCtrl($event)" ></ion-toggle>
            Off
          </div>
       
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="switches" color="switch3" >
                 
          <div class="ion-text-center">
            <ion-col size="12" class="ion-text-center">
              <ion-icon class="icon" size="large" [color]="setValue?'warning':'medium'" name="desktop-outline"></ion-icon>
            </ion-col>
            
          </div>
          <div>
            <ion-toggle disabled [checked]="setValue" (ionChange)="setCtrl($event)" ></ion-toggle>
            Off
          </div>
       
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="switches" color="switch4">
    
          
      
          <div class="ion-text-center">
            <ion-col size="12" class="ion-text-center">
              <ion-icon class="icon" size="large" [color]="setValue?'warning':'medium'" name="albums-outline"></ion-icon>
            </ion-col>
            
          </div>
          <div>
            <ion-toggle disabled [checked]="setValue" (ionChange)="setCtrl($event)" ></ion-toggle>
            Off
          </div>
     
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>