
.switches div{
    display: flex;justify-content: center;
   align-items: center;
   text-transform: uppercase;
   padding: .5em;
}
ion-item{
  
}
.icon {
    display: inline-block;
    font-size: 35px;
    // color: #ffC977;
    vertical-align: middle;
   }

.switch1{
    --ion-background-color:#8EBBFD !important;
}

.switch2{
    --ion-background-color:#d7c19d !important;
}

.switch3{
    --ion-background-color:#96DED1 !important;
}

.switch4{
    --ion-background-color:#FFB2FF !important;
}
:root {
	--ion-color-switch1: #8EBBFD;
	--ion-color-switch1-rgb: 142,187,253;
	--ion-color-switch1-contrast: #000000;
	--ion-color-switch1-contrast-rgb: 0,0,0;
	--ion-color-switch1-shade: #7da5df;
	--ion-color-switch1-tint: #99c2fd;
}

.ion-color-switch1 {
	--ion-color-base: var(--ion-color-switch1);
	--ion-color-base-rgb: var(--ion-color-switch1-rgb);
	--ion-color-contrast: var(--ion-color-switch1-contrast);
	--ion-color-contrast-rgb: var(--ion-color-switch1-contrast-rgb);
	--ion-color-shade: var(--ion-color-switch1-shade);
	--ion-color-tint: var(--ion-color-switch1-tint);
}

