.bounce{
    
}
ion-content{
    position: relative;
}
.swiper-zoom-container{
    transition: .50s all;
}
.myble{
    position: absolute;
    z-index: 3;
    background: #ddd;
}
.swiper-wrapper{
    background-color: #fff!important;
}
svg{
    width: 100%;
    height: 100%;
    
}

.defaultZoom{
    transform: translate3d(-24px, 197px, 0px) scale(1.8);
}
.zoomBLE1{
    transform: translate3d(-24px, 197px, 0px) scale(2.8);
}
.layout{
    position: relative;    
    height: 100%;
    background-image: url('/assets/office-layout.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    transition: .5s all;
}
#layout{

}

    .ion-chip{
        position: relative;
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
        padding: 5px;
        border-radius: 3px;
           
        .chip-tooltip{
            position: absolute;z-index: 6;top:-25px;width:100%;
            
        }     
    }
    .inner-chip{
        display: flex;flex-direction: column;
        ion-card-subtitle{
            color:#fff;
        }
    }
.position{
    width: 100%; 
       position: absolute;
    z-index: 32;
    bottom: 55px;
    // border-radius: 3px;
    background: rgba(0,0,0,.4);
    padding: 0px;
    // -webkit-box-shadow:0 1px 2px #000;
    // -moz-box-shadow:0 1px 2px #000;
    // box-shadow:0 1px 2px #000;
    transition: .5s all;
}
.bottom-cnt{
    background: #5260ff;color:#fff;
    ion-card-header,ion-card-subtitle{
        color:#fff;
    }
}
.loc-position{
    left: 0px;background: rgba(0,0,0,.7);
    position: absolute;
    z-index: 32;
    top: 0px;
    padding: 2px 5px;width: 100%;
    transition: .5s all;
}
ion-slides {
    width: 100%;
}
.swiper-slide img {
    width: 100%;
    max-width: 100%;
    // border:1px solid red
}
.square {
    display:flex;
    flex-direction: column;
    width: 250px;
    height: 50px;
    background-color: royalblue;
   img{width: 25px;
       height: 25px;
   }
  }
  
.zoom-box {
    position: absolute;
    height: 90%;   
    //  top: 50px;
    top: 0px;
    padding-top:20px;
    display: flex;
    width: 100%;
    background-color: #fff;
    transition: .5s all;
}
.card-img{
    position: relative;
}
.device{
    position: absolute;z-index: 6;
    //  width: 135px;

}
ion-card-subtitle{
    ion-badge{
        color:#000;
    }
}
#IoT-TeamImg{
    position: relative;
}


.flexcss{
    display: flex;flex-direction: column;
    ion-badge{
        color:#bae22b;    --ion-background-color: transparent;
        background-color: transparent;    letter-spacing: 3px;
    }
}
#hel{
    position: relative;
}
#hel::after,#IoT-TeamImg::after{
    position: absolute;
    width: 120px;
    height: 40px;
    background: red; 
}
.animatCicle{
    position: absolute;
    width: 120px;
    height: 40px;
    background: red;
}

.div1{
    position:relative
    }
    .span1{
    position:absolute;z-index:3;
    width:min-100px;
    background:red;
    
    }
    .div1 span:first-child{
    background:blue !important;
    
    left:40%
    }
    .div1 span:nth-child(2){
        right:3%
        }
        