ion-content{
    position: relative;
}
.myble{
    position: absolute;
    z-index: 3;
    background: #ddd;
}
.swiper-wrapper{
    background-color: #fff!important;
}
svg{
    width: 100%;
    height: 100%;
    transform: translate3d(-24px, 197px, 0px) scale(1.8);
}
.layout{
    // position: relative;    
    // height: 80vh;
    // background-image: url('/assets/office-layout.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;

}


    .ion-chip{
        position: relative;
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
        padding: 5px;
        border-radius: 3px;
           
        .chip-tooltip{
            position: absolute;z-index: 6;top:-25px;width:100%;
            
        }     
    }
    .inner-chip{
        display: flex;flex-direction: column;
        ion-card-subtitle{
            color:#fff;
        }
    }
.position{
    width: 100%; 
       position: absolute;
    z-index: 32;
    bottom: 55px;
    // border-radius: 3px;
    background: #002244;
    padding: 0px;
    // -webkit-box-shadow:0 1px 2px #000;
    // -moz-box-shadow:0 1px 2px #000;
    // box-shadow:0 1px 2px #000;
    transition: .5s all;
}
.bottom-cnt{
    background: #0066b2;color:#fff;
    ion-card-header,ion-card-subtitle{
        color:#fff;
    }
}
.loc-position{
    left: 5px;
    position: absolute;
    z-index: 32;
    bottom: 125px;
    padding: 0px;
    transition: .5s all;
}
ion-slides {
    width: 100%;
}
.swiper-slide img {
    width: 100%;
    max-width: 100%;
    // border:1px solid red
}
.zoom-box {
    position: absolute;
    height: 90%;
    display: flex;
    width: 100%;
    background-color: #fff;
}
.card-img{
    position: relative;
}
.device{
    position: absolute;z-index: 6;
    //  width: 135px;

}
ion-card-subtitle{
    ion-badge{
        color:#000;
    }
}
.flexcss{
    display: flex;flex-direction: column;
    ion-badge{
        color:darkred;
    }
}