<ion-content [fullscreen]="true">


  <div [ngClass]="{'flex-container-scanned':isScanned,'flex-container-init':!isScanned}" class="flex-container">
    <ion-label *ngIf="!isScanned" class="ion-margin-bottom slogan">A Better way to
      <ion-card-subtitle color="light">TRACK <ion-icon size="large" name="analytics-outline"></ion-icon>
      </ion-card-subtitle>
      your Devices
    </ion-label>


    <div (click)="scan()" [ngClass]="{'flex-scaning':isScanned,'flex-init':!isScanned}" class="flex-content ">
      <ion-label color="light">
        <!-- <ion-icon name="scan-outline"></ion-icon>   -->
        {{isScanned?'Scanning ...':''}}
        <ion-icon color="light" size="large" *ngIf="!isScanned" name="scan-outline"></ion-icon>
        <!-- {{data.length}} -->
      </ion-label>
      <ion-button slot="end" *ngIf="isScanned" color="medium" (click)="stopScan($event)">
        <!-- <ion-icon name="scan-outline"></ion-icon>   -->
        Stop

      </ion-button>
    </div>
  </div>
  <!-- <div class="flex-container2"> -->


  <!-- <div class="wbg">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-badge (click)="getListbyStatus('a')">
            <ion-card-subtitle color="light">
              {{deviceList.length?'All Device(s)':isScanned && deviceList.length==0?'No Device Found':''}}
            </ion-card-subtitle>
          </ion-badge>
        </ion-col>
        <ion-col size="4">
          <ion-badge (click)="getListbyStatus('Active')">
            <ion-card-subtitle color="light">
              {{deviceList.length?'Active':isScanned && deviceList.length==0?'No Device Found':''}}
            </ion-card-subtitle>
          </ion-badge>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </div> -->
  <div class="wbg2">
    <cdk-virtual-scroll-viewport minBufferPx="200" maxBufferPx="400" itemSize="50">
<!-- (click)="!item.loc?selectBLE(item):''" for feature apply -->
      <ion-card  *cdkVirtualFor="let item of deviceList" [color]="item.isBLEMatched?'mybg':'shade1'">

        <ion-grid>
          <ion-row class="ion-justify-content-start">
            <ion-col size="2">
              <div>
                <ion-img src="assets/inactiveBLE.png"></ion-img>
              </div>
            </ion-col>

            <ion-col size="8">
              <div>

                <ion-card-header class="ion-no-padding">

                  <ion-card-subtitle>{{item.id}}</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content class="ion-no-padding">
                  <ion-card-subtitle>RSSI:{{item.rssi}}</ion-card-subtitle>
                  <ion-card-subtitle slot="end">
                    {{ item.name?item.name:'' }}

                  </ion-card-subtitle>
                  <ion-card-subtitle>
                    {{ item.Distance?'at':'' }} {{ item.Distance?item.Distance:'' }}
                    {{ item.Distance?'meters':'' }}

                  </ion-card-subtitle>

                </ion-card-content>

              </div>
            </ion-col>

            <ion-col size="2">
              <div>
                <ion-icon size="large" [color]="item.strengthColor" name="cellular-outline"></ion-icon>
                <!-- <ion-icon *ngIf="item.isBLEMatched" size="large" [color]="item.color"
                        name="checkmark-circle-outline">
                      </ion-icon> -->
                <!-- <ion-card-subtitle>{{item.isBLEMatched?'Match Found':'No Match'}}
                  </ion-card-subtitle> -->

              </div>
              <!-- <div *ngIf="!item.loc">
                <ion-text color="primary">Add</ion-text>
              </div> -->
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card>


    </cdk-virtual-scroll-viewport>
  </div>
  <!-- </div> -->
</ion-content>